
*{
	margin: 0;
	padding: 0;
	font-family: 'Raleway', sans-serif;
}

#lista{
	list-style-type: none;
}

.mi-lista{
	float: right;
}

#code-girls{
	float: left;
}

#cabecera{
	padding: 1% 5%;
	background-color: whitesmoke;
	overflow: auto;
}

li{
	padding: 0 2%;
}

a{
	text-decoration: none;
}

#inscripcion{
	text-align: center;
	padding: 16% 0;
	background-image: url(../img/home.jpg);
	background-size: cover;
	height: 100px;
}

h1{
	color: white;
	font-size: 40px;
	padding: 5px;
}

p{
	padding: 10px;
}

.botones{
	padding: 0.4% 1%;
	border-radius: 5px;
	color: white;
	background: #3838D3;
	border: 0;
}
